body {
  color: blue;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .module {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .module img {
    max-width: 100px;
    height: auto;
  }
  .savedFile {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.savedFile img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.savedFile h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.savedFile p {
    margin: 5px 0 0 0;
    font-size: 1em;
    color: #777;
}

.savedFile hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}
