.savedFile {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items to start and end of the container */
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f8f9fa; /* Light gray background */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

/* Add styles for the delete button */
.savedFile .deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Add hover effect */
.savedFile .deleteButton:hover {
  background-color: #8d2530;
}

.savedFile:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.savedFile img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.savedFile h3 {
  margin: 0;
  font-size: 1.2em;
  color: #343a40; /* Dark gray text */
}

.savedFile p {
  margin: 5px 0 0 0;
  font-size: 1em;
  color: #6c757d; /* Light gray text */
}

.savedFile hr {
  border: none;
  border-top: 1px solid #e9ecef; /* Lighter gray divider */
  margin: 10px 0;
}
