/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  background-color: #5f9ea0; /* Cadet Blue */
  color: #fff;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  animation: slideInDown 1s ease-in-out;
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  animation: slideInLeft 1s ease-in-out;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.left-container,
.right-container {
  flex: 1;
  padding: 20px;
}

form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
textarea,
select {
  width: calc(100% - 40px);
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease-in-out;
}

#deadlineContainer {
  margin-top: 10px; /* Add margin to the top */
}

#deadline {
  display: inline-block;
  vertical-align: middle;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
  border-color: #4682b4; /* Steel Blue */
}

.color-picker-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.color-picker-container label {
  margin-right: 10px;
}

input[type="color"] {
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  padding: 0;
}

input[type="color"]:hover {
  border-color: #87ceeb; /* Sky Blue */
}

select {
  height: 50px;
  font-size: 1rem;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #87ceeb; /* Sky Blue */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #5f9ea0; /* Cadet Blue */
}

.savedFiles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

.savedFile {
  position: relative;
  padding: 20px;
  background-color: #f0f8ff; /* Alice Blue */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}

.savedFile:hover {
  transform: translateY(-5px);
}

.savedFile img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.savedFile h3 {
  margin-top: 15px;
  font-size: 1.5rem;
  color: #333;
}

.savedFile p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #666;
}

#thumbnailDropzone {
  padding: 30px;
  text-align: center;
  border: 2px dashed #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease-in-out;
}

#thumbnailDropzone.dragover {
  border-color: #87ceeb; /* Sky Blue */
}

/* Action Buttons Styling */
.savedFile .action-buttons {
  display: flex;
  gap: 10px; /* Adjust the gap value to increase/decrease the space between buttons */
  margin-top: 100px;
}

.savedFile .action-buttons button {
  flex: 1; /* Distribute the available space equally among the buttons */
}

#deletedFilesList > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#deletedFilesList button {
  margin-left: 20px;
}

.deleteButton {
  background-color: #87ceeb;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  max-width: 100px; /* Set a maximum width for the button */
  text-overflow: ellipsis; /* Add an ellipsis if the text overflows the button */
  white-space: nowrap; /* Prevent the text from wrapping */
  overflow: hidden; /* Hide any overflowing text */
}
.deleteButton i {
  margin-left: 5px; /* Adjust the margin as needed */
}
.deleteButton:hover {
  background-color: #ff6347; /* Change the background color to red on hover */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-selected {
  padding: 10px 30px 10px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Align text to the left and icon to the right */
  align-items: center; /* Vertically center items */
}

.open .dropdown-list {
  display: block;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
}

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  cursor: pointer; /* Add this line to change cursor style */
}

.category-name {
  flex: 1; /* Allow the category name to take up remaining space */
}

.category-item:hover {
  background-color: #f9f9f9;
}

/* Responsive design */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .left-container,
  .right-container {
    padding: 0;
  }

  .savedFiles-container {
    grid-template-columns: 1fr;
  }
}
