.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
}

.left-container {
  flex: 1;
  padding-right: 10px;
}

.right-container {
  flex: 1;
  padding-left: 10px;
}

/* Other Styles */
#Title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#moduleForm {
  margin-top: 20px;
}

#moduleForm input[type="text"],
#moduleForm textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px; /* Add margin bottom to create space between fields */
}
#moduleForm textarea#note {
  height: 150px; /* Set the desired height */
}

#moduleForm button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#moduleForm button:hover {
  background-color: #0056b3;
}

.savedFiles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.savedFile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 130px; /* Set a fixed height */
  overflow: hidden;
  max-width: 600px; /* Set the maximum width of the saved files */
  padding: 15px;
  margin: 15px auto; /* Added margin to the top */
  background-color: #d3d3d3;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0); 
  transition: box-shadow 0.3s ease;
}

.savedFile .deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto;
}

.savedFile .deleteButton:hover {
  background-color: #8d2530;
}

.savedFile img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.savedFile h3 {
  margin: 0;
  font-size: 1.2em;
  color: #343a40;
}

.savedFile p {
  margin: 5px 0 0 0;
  font-size: 1em;
  color: #6c757d;
}

.savedFile hr {
  border: none;
  border-top: 1px solid #e9ecef;
  margin: 10px 0;
}

/* CSS */
#icon {
  border: 1px solid #ced4da; /* Default border style */
}

.active #icon {
  border: 2px dashed #007bff; /* Border style when active */
}
